@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900,900italic);

/* ! Reset */
body, html{ background-color:var(--menu-bg); scroll-behavior: smooth; font-family: 'Intro', Arial, Helvetica, sans-serif; font-size: 16px; box-sizing: border-box;margin: 0;padding: 0;}*,*:before,*:after{ box-sizing: border-box; }h1,h2,h3,h4,h5,h6, p, ol, ul{margin: 0 0 1rem 0;padding: 0;}ol,ul{list-style-type: none;}img{height: auto;}h1{font-size: 4rem;} h2{font-size: 3rem;} h3{font-size: 2rem;} h4{font-size: 1rem;} h5{font-size: 0.8rem;} h6{font-size: 0.6rem;}a{text-decoration:none}

/* ! Title System */
h1, .text-1xl {font-size: 4.5rem;margin-bottom:0.5rem}
h1, .text-1{font-size: 3.5rem;margin-bottom: 0.5rem;}
h2, .text-2 {font-size: 2.4rem;}
h3, .text-3  {font-size: 1.8rem;margin-bottom:1rem}
h4, p, .text-4 {font-size: 1rem;margin-bottom:1rem; line-height: 1.5;}
.text-4xl{font-size: 1.5rem; margin-bottom: 1rem;}
a{color: coral}
p{font-family: 'Source Sans Pro',sans-serif; font-weight: 400;}

.button {
  font-size: 1rem; text-transform: uppercase; background: #7f5af0; color:#fff;
  text-decoration: none;padding: 14px 25px; display: inline-block;
  border-radius: 4px; font-weight: 700; margin-left: 6%;
}
.button:hover{ background: #2cb67d; }

/* .box {

  background-color:rgb(22, 22, 26);
  margin-top: ;

} */

/* ! Grid System */
.grid {background-color:var(--menu-bg); margin: 0 auto; padding: 50px 0px; max-width: 1550px; display: flex; flex-flow: row; flex-wrap: wrap;}
.grid--center{justify-content: center;}
.col{ flex: 1;}

[class*='col-'] { position: relative;padding: 0 15px;}
.grid .grid [class*='col-'] {padding: 0px;}

.col-20{ width: 20%; }
.col-25{ width: 25%; }
.col-30{ width: 30%; }
.col-33{ width: 33.33%; }
.col-40{ width: 40%; }
.col-50{ width: 50%; }
.col-60{ width: 60%; }
.col-70{ width: 70%; }
.col-80{ width: 80%; }
.col-100{ width: 100%; }

@media (max-width: 991px) {
    .tab-20 { width: 20%; }
    .tab-25 { width: 25%; }
    .tab-33 { width: 33.33%; }
    .tab-50 { width: 50%; }
    .tab-100 { width: 100%; }
}

@media (max-width: 768px) {
    [class*='col-'] { width: 100%;}
    .sma-20 { width: 20%; }
    .sma-25 { width: 25%; }
    .sma-33 { width: 33.33%; }
    .sma-50 { width: 50%; }
    .sma-100 { width: 100%; }
}

/* ! Helpers  */
.mt-0{margin-top: 0 }
.mt-1{margin-top: 10px}
.mt-2{margin-top: 20px}
.mt-3{margin-top: 40px}
.mt-4{margin-top: 100px}
.mt-5{margin-top: 10vh;}

.mb-0{margin-bottom: 0}
.mb-1{margin-bottom: 10px}
.mb-2{margin-bottom: 20px}
.mb-3{margin-bottom: 40px}
.mb-4{margin-bottom: 100px}

.p-0{padding: 0}
.p-1{padding: 10px}
.p-2{padding: 20px}
.p-3{padding: 40px}
.p-4{padding: 100px}

.pt-1{padding-top: 10px;}
.pt-3{padding-top: 20px;}
.pt-3{padding-top: 40px;}
.pt-4{padding-top: 15vh;}

.pb-1{padding-bottom: 10px;}
.pb-2{padding-bottom: 20px;}
.pb-3{padding-bottom: 40px;}
.pb-4{padding-bottom: 15vh;}

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.img-res { width: 100%; height: auto; margin-bottom: 20px;vertical-align: middle;}
.color-text{color: var(--menu-color);}
.flex{display: flex; justify-content: space-between;}

/* Menu */
:root { --secondary-bg:#242629; --menu-bg: #16161e;--third-bg: #16161a;  --menu-color: #fffffe; }

.header{ background-color: var(--menu-bg); position: fixed; top:0;  left:0; z-index: 9999; width: 100%; padding: 10px 15px; border-bottom:2px solid #242629;}
.header__content{max-width: 1400px;width: 100%;margin: 0 auto; display: flex;justify-content: space-between;}

.header__logo,
.header__quick{display: flex; align-items: center;color:var(--menu-color)}

.header__menu{padding: 0;margin: 0;margin-left: 50vw;}
.header__menu li{display: inline-block;}
.header__menu li:hover {

background-color: var(--secondary-bg);

}
.header__menu li a{color:var(--menu-color); opacity: 0.8;display: block;padding: 16px;font-size: 18px;}

.grid {

  height: 100vh;
  background-color: var(--menu-bg);

}

@media (max-width: 768px) {
  .header__menu{
    margin-left:0px;position: absolute; top:109px; left:0; background-color: var(--secondary-bg); width: 100%; height: 100vh;
    height: 0vh; overflow: hidden;transition: all 1s cubic-bezier(.215, .61, .355, 1);
  }

  .cerchioSfondo {display: none;}

  .header__menu li{width: 100%;border-bottom: 1px solid #444}
  .menu-open .header__menu{height: 100vh;padding: 3%;}

  .icon-hamburger{height: 50px;width: 40px;margin-left: 20px;padding-top: 5px;}
  .icon-hamburger span{height: 2px; width: 30px;background: var(--menu-color);position: relative;display: block;margin-top: 11px;transition: all 0.2s cubic-bezier(.215, .61, .355, 1);}

  .menu-open .icon-hamburger span:nth-child(1){transform: rotate(45deg) translateY(9px);}
  .menu-open .icon-hamburger span:nth-child(2){transform: rotate(-45deg) translateY(-9px);}

  .header__quick{display: flex; justify-content: flex-end; width: 50%;}

}






.scroll-first-page {



}

.title {

  color: var(--menu-color);
  text-align: center;
  font-size: 56px;

}

.spacer {

  height: 10vh;

}

.img-forMenu{

  margin-left: 1vw;
  margin-top: -2.2vh;
  transition: all 1s cubic-bezier(.215, .61, .355, 1);

}

.title-firstPage{

  color:var(--menu-color);
  padding-left: 4.8%;
  font-size: 3.3rem;

}

.btn-firstPage {

  margin-left: 4.8%;

}

.img-my-self {

  width: 30vw;
  height: 60vh;
  margin-left: -3vw;
  margin-top: 6vh;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  opacity: 0;

}

.socialbox {

  display: flex;
  flex-direction: row;

}

.socialBox2 {

  display: flex;
  flex-direction: row;
  width: 0px;
  height: 0px;

}

.icon-social {

  margin-left: 4%;

}

.icon-social2 {

  margin-left: 4%;
  width: 0px;
  height: 0px;

}


.paragraph-firstPage {

  margin-left: 5%;
  color: var(--menu-color);

}

.frecciaGiù {

  margin-left: 48vw;
  margin-top: 15.5vh;

}

.grid-two {

  background-color: var(--secondary-bg);

}

.container {

  background-color: #7f5af0;
  /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
  width: 33vw;
  height: 60vh;
  margin-top: 5vh;
  opacity: 0;

}

.img-gridTwo {

  margin-left: 5%;
  margin-top: 13vh; 
  width: 35vw;
  height: 65vh;
  opacity: 0;

}

.title-secondPage {

  color: var(--menu-color);
  opacity: 0;
}

.subtitle-secondPage {

  color: var(--menu-color);
  opacity: 0;
}

.paragraph-secondPage {

  color: var(--menu-color);
  font-size: 20px;
  opacity: 0;
}

.col-secondPage {

  margin-top: 5vh;

}

.paragraph-twoSP {

  margin-top: 0.5vh;
  color: var(--menu-color);

}

.list-one {

  list-style-type: circle;
  opacity: 0;

}

.element-list-one {

  color: var(--menu-color);
  margin-left: 3%;
  font-size: 17px;

}

.grid-three {

  background-color: var(--secondary-bg);

}

.container-two {

  background-color: #7f5af0;
  /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
  width: 33vw;
  height: 60vh;
  margin-top: 5vh;
  opacity: 0;

}

.img-gridThree{

  margin-left: 5%;
  margin-top: 13vh;
  width: 35vw;
  height: 65vh;

}

.title-threePage {

  color: var(--menu-color);
  opacity: 0;
}

.subtitle-threePage {

  color: var(--menu-color);
  opacity: 0;
}

.paragraph-threePage {

  color: var(--menu-color);
  font-size: 20px;
  opacity: 0;
}

.col-threePage {

  margin-top: 5vh;

}

.list-two {

  list-style-type: circle;
  opacity: 0;

}

.element-list-two {

  color: var(--menu-color);
  margin-left: 3%;
  font-size: 17px;

}

.colForSmartphone {

 display: none;

}

.img-my-self2 {

  width: 0vw;
  height: 0vh;
  

}

.contatti {

  display: none;

}

.grid-footer {

  height: 40vh;
  border-top: 1px solid var(--secondary-bg);

}

.col-one {

  

}

.paragraph-cite{

  color: var(--menu-color);
  text-align:justify;
  margin-top: 8vh;
  margin-left: 3vw;

}

.subgrid-footer{

  height:auto;
  border-right: 1px solid var(--secondary-bg);

}

.logo-subgrid {

  color: var(--menu-color);
  font-size: 48px;

}

.paragraph-subgrid{

  color: var(--menu-color);
  font-size: 17px;

}

.paragraph-subgridTwo{

  color: var(--menu-color);
  font-size: 17px;
  padding-left: 3%;

}

.footer-contatti {

  color: var(--menu-color);
  text-align: center;

}

.grid-progetti{

  background-color: #242629;

}

.footer-paragraph {

  color: var(--menu-color);
  text-align: justify;
  margin-left: 11vw;
  font-size: 18px;

}

.progetti-paragraph {

  color: var(--menu-color);
  margin-left: 6%;
  margin-top: 8vh;
}

.btn-progetti {

  border: 0px white solid;
  margin-top: 10px;

}

.paragraph-progetti {

  margin-left: 6%;
  color: white;

}

.img-progetti{

  width:25vw ;
  height: 35vh;
  /* margin-left: -8vw; */
  margin-top: 6vh;
  z-index: 3;
  position: absolute;

}

.img-progetti-two{

  width: 25vw;
  height: 35vh;
  z-index:3;
  position: absolute;
  top: 60%;
  left: 30%;

}

.img-progetti-three{

  width: 25vw;
  height: 35vh;
  margin-top: 25vh;
  margin-left: 8vw;
  border: 1px solid var(--third-bg);
  z-index: 3;
  position: absolute;

}

.img-progetti:hover,.img-progetti-two:hover,.img-progetti-three:hover {

  transform: translateX(-90px);
  transition: all 1s cubic-bezier(.215, .61, .355, 1);

}

.socialBoxProgetti {

  width: 5vw;
  height: 35vh;
  position: absolute;
  top: 53.5%;
  left: 71%;
  z-index: 2;

}

.socialIcon-Progetti {

  z-index: 1;
  margin-top: 19vh;

}

.socialBoxProgetti-Two {

  width: 5vw;
  height: 35vh;
  position: absolute;
  top: 5%;
  left: 46.2%;
  z-index: 2;

}

.socialIcon-Progetti2 {

  z-index: 1;
  margin-top: 15vh;

}

.socialBoxProgetti-Three {

  width: 5vw;
  height: 35vh;
  position: absolute;
  z-index: 2;
  top: 61%;
  left: 74.3%;

}

.socialIcon-Progetti3 {

  z-index: 1;
  margin-top: 15vh;

}

.grid-five {

background-color: var(--menu-bg);
background-image: url(immagini/photo-pc.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;

}

.container-gridFive{

  background-color: #242629;
  width: 99vw;
  height: 50vh;
  padding: 32px;
  text-align: justify;
  margin-top: 16vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: -1vw;

}

.title-gridFive {

  margin-left: 6%;
  color: var(--menu-color);

}

.title2-gridFive {

  margin-left: 6%;
  color: var(--menu-color);
}

.paragraph-gridSix {

  color: var(--menu-color);
  margin-left: 6%;

}

.btn-gridFive {

  margin-left: auto;
  margin-right: auto;

}

.grid-six {

  background-color: var(--menu-bg);
  background-image: url(immagini/photo-pc2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}
  
.title-gridSix {
  
    margin-left: 6%;
    margin-top: 3vh;
    color: var(--menu-color);
    font-size: 50px;
}
  
.title2-gridSix {
  
    margin-left: 6%;
    color: var(--menu-color);
}
  
.btn-gridSix {
  
    margin-top: 3vh;
  
}

.container-gridSix {

  background-color: var(--secondary-bg);
  padding: 24px;
  margin-top: 8vh;

}

.subcol-footer-two {

  display: flex;
  flex-direction: column;

}

.btn-subcol-footer{

  border: 0px solid white;
  width: 50%;
  height: 5vh;
  margin: 20px auto;

}

.input-nome,.input-email,.input-messaggio {

  width: 80%;
  margin-left: 10%;
  margin-top: 8px;

}

.input-messaggio {

 height: 20vh;

}

.input-nome, .input-email {

  height: 4vh;

}

.label-subCol {

  margin-left: 10%;
  margin-top: 5px;

}



@media screen and (max-width: 768px) {

  .grid {
  
    height: auto;
  
  }  
    
  .container{
  
    display: none;
  
  }
  
  .socialBox2 {
  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    height: auto;
  
  }
  
  .icon-social2 {
  
    width: auto;
    height: auto;
    padding-right: 8vw;
  
  }
  
    .img-my-self {
  
    display: none;
  
  }
  
  .img-gridTwo{
  
    display: none;
    
  }
  
  /* .socialBox {display: none;} */
  
  .frecciaGiù{display:none;}
  
  .title-secondPage{
  
    margin-top: 0;
  
  }
  
  .colForSmartphone{
  
    display: block;
    width: 100%;
    height: 40vh;
  
  }
  
  .img-my-self2 {
  
    width: 80vw;
    height: 40vh;
    margin-left: 5vw;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    margin-top: 3vh;
  }

  .contatti {

  color: var(--menu-color);
  margin-top: 5vh; 
  display: block; 

  }

  .label-1 {

    font-size: 18px;

  }
  
  .label-2 {

    font-size: 18px;

  }
  
  }